<h1> Thank you very much for using this app </h1>
<br>
<h3>Your Top Liked status has been publish on your facebook wall </h3>
<h4>This is the published status</h4>
<%= @toplikedstatus %>
<br>
<br>
<br>
