<% content_for :meta do %>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Welcome to TopMostLikedStatus FaceBook APP</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="Content-Style-Type" content="text/css">
<meta http-equiv="Content-Script-Type" content="text/javascript">
<%= favicon_link_tag "/favicon.ico",:rel =>"shortcut icon", :type => nil, :media => nil %>
<%= stylesheet_link_tag "application.css" , :rel => "stylesheet", :type => nil, :media => nil %>
<%end%>    

<h1>Welcome to TopMostLikedStatus APP</h1>
<br>
<br>
<input type=button onClick="location.href='/facebookapp'" value='Connect with FaceBook'>
          <iframe src="//www.facebook.com/plugins/like.php?href=<%= u app_url%>&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=true&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:105px; height:21px;" allowTransparency="true"></iframe>

