<!DOCTYPE HTML>
<html lang="en">
  <head>
    <%= yield :meta -%>
  </head>
  <body>
    <div id="mypage">
      <%= yield %>
    </div>
<div class="fb-like" data-href="https://apps.facebook.com/topmostlikedstatus/" data-send="true" data-width="450" data-show-faces="true"></div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=468010193256112";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
  </body>
</html>
